/* universal selector - applies everywhere  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --color1: #6867ac;
  --color2: #e7efe1;
  --color3: #fff;
  --color4: #000;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 90px;
}

/* applies to the entire body of the HTML document (except where overriden by more specific selectors) */
body {
  font-family: "Raleway", sans-serif;
  font-size: 100%; /* 100% = 16px on most screens */
  padding-top: 90px;
}

h1 {
  font-size: 48px;
  font-weight: bolder;
}

h2 {
  font-size: 20px;
}

header {
  position: fixed; /* set navbar to fixed position */
  top: 0; /* position navbar at top of page */
  z-index: 99; /* position navbar in front of all other elements */
  width: 100%;
  background-color: var(--color3);
  padding: 2%;
  /* border-bottom-style: solid;
  border-bottom-color: var(--color4);
  border-bottom-width: 4px; */
  text-align: center;
}

.logo {
  margin: 0;
  padding: 0;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-links {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: var(--color1);
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

ul {
  list-style-type: none;
}

a {
  color: var(--color1);
}
a:link,
a:visited {
  text-decoration: none;
}
a:hover,
a:active {
  color: var(--color4);
}

button {
  margin: 1% 1% 1% 0%;
  border-style: solid;
  border-color: var(--color4);
  border-radius: 16px;
  padding: 1.5%;
  background-color: black;
  color: var(--color1);
  font-size: 1em;
  font-weight: bold;
}

button:hover {
  background-color: var(--color4);
  color: black;
}

#about {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: var(--color1);
  color: var(--color3);
}

#about h2 {
  margin: 1em 0;
}

.about-div-wrapper {
  margin: 1em;
}

.about-text-box {
  margin: 1em;
  text-align: center;
  align-content: space-between;
}

.about-text-i-am {
  color: var(--color4);
}

.about-photo-container {
  display: flex;
  margin: 1em;
}
.about-photo {
  border-radius: 3em;
  width: 100%;
}

#background {
  margin: 0;
  padding: 0;
  background-color: var(--color2);
  color: var(--color4);
}

.background-div-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.background-header {
  margin: 1em;
}

.background-text-box {
  display: flex;
  flex-direction: column;
  margin: 1.5em;
  padding: 2em;
  border: none;
  border-radius: 2em;
  background-color: var(--color3);
}

.background-text-header {
  padding: 0.5em;
  color: var(--color1);
}

.background-text-details {
  padding: 0 0.5em;
  color: var(--color4);
}
/* 
#skills {
  background-color: var(--color4);
  color: black;
  border: solid var(--color3) 4px;
  border-radius: 20px;
  margin-bottom: 12px;
}

#skills ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-evenly;
  justify-items: center;
  font-size: 1.5rem;
}

#skills li {
  display: none;
}

#projects {
  background-color: white;
  color: var(--color2);
  border: solid var(--color1) 8px;
  border-radius: 20px;
  margin-bottom: 12px;
}

.project-container {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}

.project-image {
  padding: 4px;
  width: 100%;
  border-radius: 20px;
}

#education {
  background-color: var(--color2);
  border: solid var(--color4) 4px;
  border-radius: 20px;
}

.education-list {
  display: grid;
  grid-template-columns: 3fr 1fr;
  row-gap: 1em;
}

.education-list li {
  background: none;
}
.bold {
  font-size: 1.5rem;
  font-weight: bolder;
}
.right-align {
  text-align: right;
}

.message-form {
  margin: auto;
  padding: 0%;
}
.form-box,
.btn-group {
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
}
.form-label {
  margin: 0;
  color: var(--color4);
  font-size: 1.25em;
  text-align: left;
  display: none;
}
.form-input {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}
.form-input,
.form-message-area {
  font-family: inherit;
  font-size: inherit;
}
.form-input:focus::placeholder,
.form-message-area:focus::placeholder {
  color: var(--color1);
}
.form-message-area {
  min-height: 5em;
}

.hidden {
  display: none;
}

#messages {
  color: var(--color3);
}
#messages li {
  display: block;
  text-align: left;
  font-size: 1.25em;
}
#messages button[type="button"] {
  padding: 0% 0.5%;
  border-style: dotted;
  border-color: var(--color3);
  font-size: 1rem;
  color: var(--color3);
}

footer {
  margin: 0;
  border-top-style: solid;
  border-top-color: var(--color3);
  padding: 5%;
  text-align: center;
  font-size: 0.75em;
}

.social-media-icons {
  font-size: 2rem;
} */

/* Media Queries */
@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }
  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(200px, 3fr);
  }
  .logo {
    grid-column: 1 / 2;
    display: flex;
    justify-content: flex-start;
  }
  nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  nav a {
    opacity: 1;
    position: relative;
  }
  nav a::before {
    content: "";
    display: block;
    height: 5px;
    background: var(--color1);
    position: absolute;
    top: -0.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }
  nav a:hover::before {
    transform: scale(1, 1);
  }
  .nav-list {
    display: flex;
    justify-content: flex-end;
  }
  .nav-links {
    margin-left: 3em;
    margin-bottom: 0;
  }
  li {
    display: inline-block;
  }
  #heading {
    margin-top: 5%;
    margin-bottom: 5%;
  }

  h1 {
    font-size: 70px;
    font-weight: bolder;
  }

  h2 {
    font-size: 24px;
  }

  .about-div-wrapper {
    margin: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .about-text-box {
    margin: 2em;
    align-self: center;
  }

  .about-photo-container {
    margin: 2em;
  }

  .about-photo {
    border-radius: 3em;
    width: 100%;
    height: 100%;
    max-width: 32em;
  }

  .background-div-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
  }

  .background-header {
    margin: 2em;
  }

  .background-text-box-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 2em;
  }

  .form-label {
    display: block;
  }
  .btn-group {
    flex-direction: row;
    justify-content: center;
  }
  #skills li {
    display: inline-block;
  }
}
